*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    box-shadow: none;
    transition: all .2s ease;
}

html,body{
    height: 100vh;
}

.App{
    height: 100vh;
    display: flex;
}

.mapa{
    position: relative;
    background-color: #83bd57;
    margin: auto;
    box-shadow: inset 0px 0px 4px 1px,
        0px 0px 0px 10px #714b2b;
}